@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap%27');

*{
    margin: 0;
    padding: 0;
    text-align:center;
    font-family:'New Tegomin', serif;
    background-color: rgb(238, 225, 201);

   
}

h1{
    padding: 20px;
    text-align: center;
    background-color:rgb(230, 208, 180);
    color: black;
    font-size: 50px;
}

h2 {

    padding: 10px;

}

p {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#input {
    text-transform: capitalize;
}

form {
    padding-top:10px;
    font-size: 20px;
    font-weight: bold;

}

form>button{
    height: 3vh;
    width:6vw;
}



.row{
    display: flex; 
    justify-content: center;
}

.row > button {
    height: 20vh;
    width: 20vw;
    font-size: 60px;
    margin: 30px;
    background-color: white;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;

}

.scoreboard {

}
